body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#container {
  width: 100%;
  max-width: 1200px;
}

/* En tête (header) */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

/* Background */

.box {
  position: relative;
}

#banniere img {
  width: 1200px;
}

#background img {
  position: absolute;
  width: 17%;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#background h1 {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
}

/* Main en haut */

main {
  padding-bottom: 10px;
}

#mainTitle {
  width: 750px;
  font-size: 1.5em;
  margin-left: 200px;
  padding-top: 5px;
  color: grey;
}

#mainTitle p {
  text-align: center;
}

/* Main au milieux */

.block {
  width: 300px;
  text-align: center;
  margin-right: 30px;
}

#illustrations p {
  width: 150px;
  margin-left: 75px;
}

#mainBlock {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Main en bas */

#testimony {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
}

#testimony p {
  width: 700px;
  font-size: 1.5em;
  color: grey;
}

#testimony blockquote {
  position: absolute;
  top: 75%;
  right: 55%;
  color: grey;
}

/* Footer */

footer {
  position: relative;
  background-color: #5b359d;
}

#footerTitle p {
  position: absolute;
  right: 35%;
  padding-top: 20px;
  color: white;
  font-size: 1em;
}

#social {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#social i {
  text-align: center;
  bottom: 5%;
  font-size: 2.5em;
  width: 10%;
  margin-top: 7%;
}

#footerDown {
  display: flex;
  justify-content: space-around;
}

.footerInfo {
  position: relative;
  text-align: justify;
}

.footerInfo h1 {
  font-size: 1.2em;
  color: gray;
}

.footerInfo li {
  width: 150px;
}

.footerInfo a {
  text-decoration: none;
  color: white;
}

.footerInfo ul {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
}

.footerInfo p {
  text-align: justify;
  margin-left: 40px;
  color: white;
}
