body {
  display: flex;
  justify-content: center;
}

#container {
  width: 100%;
  max-width: 1200px;
}

/* En tête (header) */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

/* Background */

.box {
  position: relative;
}

#banniere img {
  width: 1200px;
}

#background img {
  position: absolute;
  width: 15%;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#background h1 {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main en haut */

#mPhrase {
  width: 750px;
  font-size: 1.5em;
  margin-left: 200px;
  padding-top: 5px;
}

#mPhrase p {
  text-align: center;
}

/* Main au milieux */

.block {
  width: 250px;
  text-align: center;
  margin-right: 30px;
}

#illustrations p {
  width: 150px;
  margin-left: 50px;
}

#strategie p {
  width: 250px;
}

#mainBlock {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Main en bas */

#testimony {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
}

#testimony p {
  text-align: center;
  width: 600px;
  font-size: 1.5em;
}

#testimony blockquote {
  position: absolute;
  top: 70%;
  right: 55%;
}

/* Footer */

footer {
  position: relative;
  background-color: purple;
}

#footerTitle p {
  position: absolute;
  right: 35%;
  padding-top: 20px;
  color: white;
  font-size: 1em;
}

#social {
  display: flex;
  justify-content: center;
}

#social i {
  text-align: center;
  bottom: 5%;
  font-size: 2.5em;
  width: 10%;
  margin-top: 7%;
}
